.App {
  text-align: center;
  background: linear-gradient(180deg, #E50914, #221F1F 30%, #000);
  color: white;
}

.App-title {
  margin: 0;
  text-align: center;
  text-shadow: 5px 5px 10px black;
  font-size: 3.5rem;
  padding-top: 30px;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 550px) { 
  .App-title {
      font-size: 2.5rem;
  }
}
