.movieCard {
    list-style: none;
    font-size: 1.5rem;
}

.movieImage {
    border-radius: 15px;
    
}

@media (max-width: 540px) {
    .movieCard {
        font-size: 1.2rem;
    }
    
    .movieImage {
        width: 90%;
        height: auto;
    }
}